
<div class="card">
	<span class='city_name'>{{city}}</span> <br> <!-- city name -->
	{{description}} <br> <!-- description -->
	<span class='temperature'>{{convertTemp temp}}&deg; </span><br> <!-- temp farenheit -->
</div>

<div class='flex-container'>
	{{#each extended}}
		<div class='item'>
			{{this.description}} <br>
			{{convertTemp this.day}}&deg; / {{convertTemp this.night}}&deg;
		</div>
	{{/each}}
</div>






