
<div class="card">
	<span class='city_name'>{{name}}</span> <br> <!-- city name -->
	{{#each weather}} {{main}} {{/each}} <br> <!-- description -->
	<span class='temperature'>{{convertTemp main.temp}}&deg; </span><br> <!-- temp farenheit -->
</div>

<div class='flex-container'>
	{{#each this}}
		<div class='item'>
			{{this.description}} <br>
			{{convertTemp this.day}}&deg; / {{convertTemp this.night}}&deg;
		</div>
	{{/each}}
</div>






